body {
  height: 100vh;
  width: 100vw;
  font-family: "Quicksand"
}

.home {
  background: linear-gradient(#589BF5, #49BFC0);
  color: #eee;
}

.theme {
  color: #49BFC0;
}

.home-image {
  max-width: 30%;
  height: auto;
}

#nav{
    padding-top:5em;
    padding-bottom:5em;
}

#nav-span{
    color: black;
    font-weight:bold;
}

#nav-span a{
    color: #589BF5;
    font-weight:bold;
}


