body {
  height: 100vh;
  width: 100vw;
  font-family: "Quicksand"
}

.home {
  background: linear-gradient(#589BF5, #49BFC0);
  color: #eee;
}

.theme {
  color: #49BFC0;
}

.nav-tabs .nav-item .task-tab.active {
  background: linear-gradient(45deg, #589BF5, #49BFC0);
  color: #eee;
}

a.nav-link {
  color: #eee;
}

.home-image {
  max-width: 30%;
  height: auto;
}

#nav {
  padding-top: 2em;
  padding-bottom: 2em;
}

#nav-span {
  color: black;
  font-weight: bold;
}

#nav-span a {
  color: #589BF5;
  font-weight: bold;
}

#descriptionLower {
  display: none;
}

@media only screen and (max-width: 600px) {

  #descriptionUpper {
    display: none;
  }

  #descriptionLower {
    display: block;
  }
}

#username-error {
  color: red;
}

.red {
  color: red;
  margin: 0px 7px;

}

.green {
  color: lightgreen;
  margin: 0px 7px;
}