<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/csshead :: css"></div>
    <title>Home</title>
</head>

<body>
    <section class="home">
        <div th:replace="fragments/nav :: nav"></div>
        <div class="container">
            <h1>Welcome to A Modern Way of Receiving Reminders!</h1>
            <div th:if="${email}"></div>

            <div th:unless="${email}">
                <h3>Please signup or login to add reminders and manage your account.</h3>
                <p>FocaList is here for you, to send you reminder text messages at times of your choosing,
                    so that you never forget those important things again</p>
                <img src="https://image.flaticon.com/icons/svg/1648/1648067.svg"
                    class="img-fluid rounded float-right home-image" alt="Responsive Image">
            </div>
        </div>

    </section>
</body>
<footer>
    <section th:replace="fragments/footer :: footer"></section>
</footer>

</html>