<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <h1>Create Your Account with Focalist</h1>
        <form action="/signup" method="POST">
            First Name<input type="text" name="firstName">
            Last Name<input type="text" name="lastName">
            Email<input name="email">
            Password<input name="password" type="password">
            Mobile Number<input type="text" name="phoneNumber">
            <input type="submit" />
        </form>
    </div>

</body>
</html>