<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/csshead :: css"></div>
    <title>User Account</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/nav :: nav"></div>

        <!-- List of Logged 

        <!-- Add Reminder -->
        <h2>Add a Reminder</h2>
        <form action="/api/task" method="POST">
            Title<input type="text" name="title">
            Note<input type="text" name="note">
            Time<input type="datetime-local" name="time">
            <input type="hidden" name="offset" id="offset">
            <input type="submit" />
        </form>
    </div>

</body>
</html>